<!DOCTYPE html>
<html>
  <head>
    <title>InstaContract</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body class="app">

    <div class="contract">

      <div class="contract-title editable">Independent Contractor Services Agreement</div>

      <ol class="contract-sections section-list sortable">

        <li class="section editable" title="Consultation Services">
          Contractor shall confer with the officers and employees of <span class="company"></span> concerning matters relating to the management and organization of <span class="company"></span>, their financial policies, the terms and conditions of employment, and generally any matter arising out of the business affairs of <span class="company"></span>. <span class="company"></span> and Contractor shall mutually agree upon project milestones and deliverables to be achieved or provided during the term of this Agreement. Contractor shall perform all services necessary to meet such project milestones and provide such project deliverables.
        </li>

        <li class="section editable" title="Consultation Services">
        This is a gigantic section.
        </li>

      </ol>

    </div>

    <ul class="available-sections section-list list-unstyled sortable">

      <li class="section editable" title="">
        Contractor shall not be authorized to incur on behalf of <span class="company"></span> any expenses and will be responsible for all expenses incurred while performing the Services unless otherwise agreed to by <span class="company"></span>, which consent shall be evidenced in writing for any expenses in excess of $10. As a condition to receipt of reimbursement, Contractor shall be required to submit to <span class="company"></span> reasonable evidence that the amount involved was both reasonable and necessary to the Services provided under this Agreement.
      </li>

    </ul>

   <!-- Modal -->
    <div class="modal fade" id="edit-company" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Field</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="company">Name of company</label>
                <input type="text" class="form-control" id="name" name="company" placeholder="Enter company">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary btn-success btn-submit">OK</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="/lib/jquery-1.9.1.js" src-online="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/lib/jquery-ui.js" src-online="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/app.js"></script>

  </body>
</html>