body {
  margin: 0;
  padding: 50px;
  background: #eee;
}

.contract {
  float: left;
  padding: 50px;
  background: #fff;
  width: 850px;
  height: 1100px;
}

.contract-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar {
  float: left;
  margin: 0 0 0 50px;
  width: 350px;
}

.available-sections {
  height: 1100px;
}

.contract-sections {
  margin: 0;
  height: 1000px;
}

.available-sections .section {
  max-height: 150px;
  overflow: scroll;
}

.section {
  background: #fff;
  padding: 25px;
  cursor: default;
}

.sortable .section:hover {
  background: #eee;
}

.var {
  background: yellow;
  cursor: pointer;
}

[name="section"] {
  padding: 20px;
}

.contract-sections .title {
  display: none;
}

.available-sections .section .content {
  display: none;
}

.available-sections .section:hover .content {
  display: block;
}

.available-sections .section:hover .title {
  display: none;
}

.available-sections-search-box {
  position: relative;
  margin-bottom: 10px;
}

.available-sections-search-box .clear {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}